// VARIABLES MIXINS KEYFRAMES

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$font-title: Shrikhand;
$font-text: Roboto;

$shadows__main-mobile: 0 0.5vw 1.6vw 0.1vw #dfdfdf;
$shadows__button-mobile: 0.2vw 0.6vw 1.3vw 0.1vw #b1b1b1;

$shadows__main-inter: 0.1vw 0.4vw 0.5vw #e2e2e2;
$shadows__button-inter: 0.1vw 0.4vw 0.4vw #afafaf;

$shadows__main-desktop: 0.1vw 0.3vw 0.5vw #e2e2e2;
$shadows__button-desktop: 0.1vw 0.3vw 0.3vw #bbbbbb;


@mixin full-width {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

@mixin steps-icon-properties {
    color: lighten(#000, 47%);
    font-size: 5.4vw;
    padding: 0 0 0 8vw;
}

 @mixin inter-only {
     @media screen and (min-width: 620px) and (max-width: 1080px) {
        @content;
     }
 }

 @mixin desktop-only {
    @media screen and (min-width: 1080px) {
       @content;
    }
}

@keyframes selected-meal {
    0% {
        transform: translateX(15vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes spinner__rotation-1 {
    from {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
      opacity: 1;
    }
  
    to {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    }
}
  
@keyframes spinner__rotation-2 {
    from {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
        opacity: 1;
    }

    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    }
}

@keyframes spinner__rotation-3 {
    from {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
        opacity: 1;
    }

    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    }
}

@keyframes body__spawn {
    from {
        opacity: 0.05;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text, sans-serif;
    position: relative;
}

.header, 
.location, 
.explore, 
.grid__steps-rest, 
.footer {
    animation: body__spawn 200ms 2800ms linear forwards;
    opacity: 0.05;
}

//HOMEPAGE MOBILE

.spinner__container {
    position: absolute;
    top: 8%;
    left: 39%;
}

.spinner {
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    transform-style: preserve-3d;
    perspective: 50vw;
    &__arc {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-bottom: 1vw solid #FF79DA;
        opacity:0;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation: spinner__rotation-#{$i} 1.15s linear 2.5;
            }
        }
        &:nth-child(1) {
            animation-delay: -0.8s;
        }
    
        &:nth-child(2) {
            animation-delay: -0.4s;
        }
    
        &:nth-child(3) {
            animation-delay: 0s;
        }
    }
}

// HEADER

.header {
    @include full-width;
    position: relative;
    &__logo {
        margin: 5.5vw 0 0.7vw 0;
        width: 43vw;
        padding-bottom: 3vw;
    }
    & h1 {
        text-align: center;
    }
    &__home-button {
        position: absolute;
        top: 6.5vw;
        left: 6vw;
        font-size: 5vw;
        color: lighten(#000, 20%);
    }
}

.location {
    @include full-width;
    display: inline-flex;
    width: 100%;
    padding: 4vw 0 4vw 28.8vw;
    background-color: darken(#FFF, 9%);
    align-items: center;
    box-shadow: inset 0 0.5vw 1vw #c9c9c9;
    & p {
        font-size: 4.2vw;
        font-weight: bold;
        margin-left: 4vw;
        color: lighten(#000, 23%);
    }
    &__icon {
        font-size: 4.2vw;
        color: lighten(#000, 23%);
    }
}

//EXPLORE

.explore {
    text-align: center;
    padding-top: 7vw;
    background: darken(#FFF, 4%);
    &__title {
        padding: 3vw 15vw 0 15vw;
        font-size: 6vw;
    }
    &__line {
        padding: 3.5vw 8vw 7.5vw 8vw;
        font-size: 4.7vw;
        color: lighten(#000, 45%);
    }
}

.main-button {
    width: 59vw;
    height: 14vw;
    margin-bottom: 15vw;
    overflow: hidden;
    border: none;
    border-radius: 7vw;
    font-size: 4vw;
    font-weight: bold;
    box-shadow: $shadows__button-mobile;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    transition: all 300ms ease-in-out;
    & a {
        text-decoration: none;
        display: block;
        height: 100%;
        color: white;
        & div {
            height: 100%;
            display: inline-flex;
            align-items: center;
        }
    }
    &:hover {
        background: linear-gradient(175deg, hsl(317, 100, 77), hsl(267,66,63) );
        box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
    }
}

// STEPS

.steps { 
    @include full-width;
    padding: 12vw 5vw;
    &__title {
        font-size: 6.3vw;
        padding-bottom: 7vw;
    }
    &__container {
        display: inline-flex;
        align-items: center;
        height: 20vw;
        width: 100%;
        margin-bottom: 5.9vw;
        border-radius: 7vw;
        background: darken(#FFF, 3%);
        box-shadow: $shadows__main-mobile;
        position: relative;
        &-colored {
            background-color: lighten($color-primary, 35.5%);
        }
    }
    &__number-container {
        display: inline-flex;
        height: 6vw;
        width: 6vw;
        font-size: 3.5vw;
        border-radius: 10vw;
        background: $color-primary;
        color: #FFF;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -3vw;
    }
    &__icon {
        @include steps-icon-properties;
        &-1 {
            padding-right: 7.1vw;
        } 
        &-2 {
            padding-right: 6vw;
        }
        &-3 {
            padding-right: 4vw;
            color: $color-primary;
        }
    }

    &__line {
        display: inline-block;
        font-size: 4.1vw;
        font-weight: bold;
    }
    & a {
        text-decoration: none;
        color: #000;
    }
    & ul {
        list-style: none;
        padding-left: 2.5vw;  
    }

}

// RESTAURANTS

.restaurants {
    padding : 13vw 5vw;
    background: darken(#FFF, 4%);
    &__title {
        font-size: 6.2vw;
        padding: 1vw 0 6vw 0;
    }
}

.restcard {
    @include full-width;
    height: 66.5vw;
    box-shadow: $shadows__main-mobile;
    border-radius: 4.3vw;
    background-color: white;
    position: relative;
    margin-bottom: 5vw;
    & a {
        text-decoration: none;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 46vw;        
    }
    &__new-icon {
        height: 7.5vw;
        width: 21.4vw;
        display: inline-flex;
        border-radius: 0.6vw;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 37%);
        font-weight: bold;
        font-size: 3.65vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 4vw;
        right: 3vw; 
    }
    &__overlay {
        color: black;
        padding: 4vw 0 0 3vw;
        & h3 {
            font-size: 4.55vw;
            display: inline-block;
        }
        & p {
            font-size: 4.4vw;
            padding-top: 1.2vw;
        }        
        &-icon {
            position: relative;
            background: red;
            float: right;
            margin: 3vw 8vw 0 0;
            box-sizing: border-box;
            width: 3vw;
            height: 3vw;
            transform: rotate(45deg);
            opacity: 1;
            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 3vw;
                height: 3vw;
                background-color: rgb(241, 21, 21);
                box-sizing: border-box;
                border-radius: 50%;
            }
            &::before {
                left: -1.5vw;
            }
            &::after {
                top: -1.5vw;
            }
        }
    }
}

//FOOTER

.footer {
    @include full-width;
    padding: 6vw 5vw;
    background: darken(#FFF, 77%);
    color: #FFF;
    &__title {
        font-family: $font-title;
        font-weight: normal;
        font-size: 4.7vw;
        color: #FFF;
        padding-bottom: 5.3vw;
    }
    &__list-icon {
        float: left;
        font-size: 3.5vw;
    }
    & ul {
        list-style: none;
    }
    & a {
        display: block;
        text-decoration: none;
        color: #FFF;
    }
    &__icon-line {
        padding-left: 7vw;
    }
    & p {
        padding-bottom: 3vw;
        font-size: 4.2vw;
        line-height: 4.2vw;
    }
}

// EXCLUSIF PAGES 1,2,3,4

.showcase {
    z-index: 1;
    position: relative;
}

.overview {
    @include full-width;
    height: 68vw;
    position: absolute;
    top: -59vw;
    z-index: 0;
    &__large-pic {
        object-fit: cover;
        width: 100%;
        height: 72vw;
    }
}

.menu {
    @include full-width;
    margin-top: 56.5vw;
    border-radius: 10vw 10vw 0 0;
    background: darken(#FFF, 4%);
    padding: 8vw 4vw;
    position: relative;
    &__main-title {
        font-family: $font-title;
        font-weight: normal;
        font-size: 7.6vw;
        width: 73vw;
    }
    /*&__title-icon {
        position: absolute;
        right: 0vw;
        top: 9.5vw;
    }*/
    &__section-title {
        padding: 5vw 0 5.5vw 1vw;
        font-weight: normal;
        font-size: 4.2vw;
        & div {
            display: inline-block;
            height: 6.4vw;
            border-bottom: 0.8vw solid $color-tertiary;
        }
    }
    &__meal {
        margin-bottom: 3.6vw;
        padding: 3.5vw 2.4vw 3vw 2.4vw;
        box-sizing: border-box;
        width: 100%;
        height: 18.3vw;
        border-radius: 4vw;
        background: #FFF;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: $shadows__main-mobile;
        & h4 {
            font-size: 4.5vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        & p {
            font-size: 3.8vw;
            padding-top: 1.2vw;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-price {
            float: right;
            padding-right: 3vw;
        }
        &:hover > .menu__meal-price {
            padding-right: 15vw;
            transition: 500ms ease-in-out;
        }
        &:hover > h4,
        &:hover > p {
            width: 57vw;
        }
        &:hover > .menu__checkbox {
            animation: selected-meal 600ms cubic-bezier(.46,0,.28,.99) forwards;
            & > .menu__checkbox-icon {
                transform: rotate(360deg);
                transition: 500ms 150ms ease-in-out;
            }
        }
    }
    &__checkbox {
        width: 15vw;
        background: $color-tertiary;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 4vw 4vw 0;
        transform: translateX(15vw);
        &-icon {
            padding: 1.1vw 1vw 1vw 1vw;
            font-size: 4vw;
            border-radius: 6vw;
            color: $color-tertiary;
            background: #fff;
        }
    }
    &__button {
        width: 50vw;
        height: 12.9vw;
        margin: 8.7vw 20% 7.5vw 20%;
        font-size: 4.1vw;
        &:hover {
            background: linear-gradient(175deg, hsl(317, 100, 77), hsl(267,66,63) );
            box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
            transition: 300ms;
        }
    }

}


// INTERMEDIAIRE ACCUEIL

.spinner__container {
    @include inter-only {
        top: 23%;
        left: 43%;
    }
}

.spinner {
    @include inter-only{
        width: 12vw;
        height: 12vw;
        perspective: 60vw;
        &__arc {
            border-bottom: 0.55vw solid #FF79DA;
        }
    }
}

.header {
    @include inter-only {
        &__logo {
            width: 23vw;
            margin: 2.5vw 0 0.5vw 0;
            padding-bottom: 0;
        }
    }
}

.location {
    @include inter-only {
        padding: 1.5vw 0 1.5vw 41vw;
        & p {
            font-size: 2vw;
            margin-left: 1vw;
        }
        &__icon {
            font-size: 2vw;
        }
    }
}

.explore {
    @include inter-only {
        padding-top: 4vw;
        &__title {
            padding-top: 0;
            font-size: 3.2vw;
        }
        &__line {
            font-size: 2.5vw;
            padding: 2vw 0;
        }
    }
}

.main-button {
    @include inter-only {
        width: 30vw;
        height: 7vw;
        margin: 3vw 0 6vw 0;
        font-size: 2vw;
        box-shadow: $shadows__button-inter;
        &:hover {
            box-shadow: 0.2vw 0.4vw 0.5vw 0.1vw #a1a1a1;
        }
    }
}

.grid__steps-rest {
    @include inter-only {
        display: grid;
        grid-template-columns: 36vw 1fr;
    }
}

.steps {
    @include inter-only {
        padding: 4vw 3vw 3vw 2vw;
        &__title {
            font-size: 3vw;
            padding: 0 0 4vw 0;
            text-align: center;
        }
        &__container {
            height: 7vw;
            margin: 0 0 4vw 1vw;
            border-radius: 2vw;
            box-shadow: $shadows__main-inter;
        }
        &__number-container {
            width: 2.7vw;
            height: 2.7vw;
            left: -1vw;
            top: 2.2vw;
            & p {
                font-size: 1.6vw;
            }
        }
        & ul {
            padding-left: 0;
        }
        &__icon {
            font-size: 2vw;
            &-1 {
                padding: 0 1.7vw 0 3.6vw;
            }
            &-2 {
                padding: 0 1.6vw 0 3.4vw;
            }
            &-3 {
                padding: 0 1.2vw 0 3.2vw;
            }
        }
        &__line {
            font-size: 1.8vw;
        }
    }
}

.restaurants {
    @include inter-only {
        padding: 4vw 0 3vw 2vw;
        margin: 0;
        background-color: #FFF;
        &__title {
            font-size: 3vw;
            padding: 0 2vw 4vw 0;
            text-align: center;
        }
    }
}

.restcard {
    @include inter-only {
        display: inline-block;
        width: 27.2vw;
        height: 23vw;
        margin: 0 2vw 2vw 0;
        border-radius: 2.6vw;
        box-shadow: $shadows__main-inter;
        &__pic {
            height: 16vw;
        }
        &__new-icon {
            width: 7vw;
            height: 2.6vw;
            top: 2vw;
            right: 1vw;
            & p {
                font-size: 1.3vw;
            }
        }
        &__overlay {
            padding: 0.5vw 1.4vw;
            & h3 {
                font-size: 2vw;
            }
            & p {
                font-size: 1.5vw;
                padding-top: 0.7vw;
            }
            &-icon {
                width: 1vw;
                height: 1vw;
                margin: 1vw 2vw 0 0;
                &::before,
                &::after {
                    height: 1vw;
                    width: 1vw;
                }
                &::before {
                    left: -0.5vw;
                }
                &::after {
                    top: -0.5vw;
                }
            }
        }
    }
}

.footer {
    @include inter-only {
        position: relative;
        text-align: center;
        padding: 2vw 0;
        &__title {
            font-size: 3vw;
            padding-bottom: 1vw;
        }
        &__list-icon {
            font-size: 2vw;
            &-1 {
                position: absolute;
                top: 7.2vw;
                left: 36vw;
            }
            &-2 {
                position: absolute;
                top: 10.6vw;
                left: 37.2vw;
            }
        }
        & p {
            font-size: 2vw;
            line-height: 2vw;
            padding: 0 0 1.5vw 0;
        }
    }
}

// INTERMEDIAIRE PAGES

.header {
    @include inter-only {
        &__home-button {
            font-size: 2.5vw;
            top: 3.3vw;
            left: 4vw;
        }
    }
}

.overview {
    @include inter-only {
        top: -34vw;
        height: 43vw;
        &__large-pic {
            height: 43vw;
        }
    }
}

.menu {
    @include inter-only {
        display: grid;
        grid-column-gap: 8vw;
        border-radius: 8vw 8vw 0 0;
        margin-top: 34vw;
        padding: 4vw;
        &__main-title {
            width: 40vw;
            font-size: 3.5vw;
            grid-column: 1;
        }
        &__title-icon {
            grid-column: 2;
            grid-row: 1;
        }
        &__main-courses {
            grid-column: 2;
            grid-row: 2;
        }
        &__desserts {
            grid-column: 1;
            grid-row: 3;
        }
        &__section-title {
            font-size: 2.1vw;
            padding-bottom: 2.5vw;
            & div {
                height: 3.4vw;
                border-bottom: 0.3vw solid $color-tertiary;
            }
        }
        &__meal {
            margin-bottom: 1.6vw;
            padding: 1.7vw 2.4vw 1vw 1.6vw;
            width: 41vw;
            height: 8.9vw;
            border-radius: 2vw;
            box-shadow: 0.1vw 0.4vw 0.4vw #d6d6d6;
            & h4 {
                font-size: 2vw;
            }
            & p {
                padding-top: 1.1vw;
                font-size: 1.7vw;
            }
            &-price {
                float: right;
                padding-right: 0.2vw;
            }
            &:hover > h4,
            &:hover > p {
                width: 24vw;
            }
            &:hover > .menu__meal-price {
                padding-right: 8vw;
            }
        }
        &__checkbox {
            width: 9vw;
            border-radius: 0 2vw 2vw 0;
            &-icon {
                font-size: 2.4vw;
                padding: 0.85vw 0.8vw 0.8vw 0.8vw;
            }
        }
        &__button {
            margin: 0;
            align-self: center;
            justify-self: center;
            grid-row: 3;
            grid-column: 2;
            box-shadow: $shadows__button-inter;
        }
    }
}

// HOMEPAGE DESKTOP

.spinner__container {
    @include desktop-only {
        top: 20%;
        left: 45%;
    }
}

.spinner {
    @include desktop-only{
        width: 10vw;
        height: 10vw;
        perspective: 50vw;
        &__arc {
            border-bottom: 0.4vw solid #FF79DA;
        }
    }
}

.header {
    @include desktop-only {
        &__logo {
            width: 15vw;
            margin: 2.5vw 0 0.5vw 0;
            padding-bottom: 0;
        }
    }
}

.location {
    @include desktop-only {
        padding: 1.5vw 0 1.5vw 41vw;
        & p {
            font-size: 1.6vw;
            margin-left: 1vw;
        }
        &__icon {
            font-size: 1.6vw;
        }
    }
}

.explore {
    @include desktop-only {
        padding-top: 3vw;
        &__title {
            padding-top: 0;
            font-size: 2.5vw;
        }
        &__line {
            font-size: 2vw;
            padding: 2vw 0;
        }
    }
}

.main-button {
    @include desktop-only {
        width: 25vw;
        height: 5.5vw;
        margin: 3vw 0 5vw 0;
        font-size: 1.6vw;
        box-shadow: $shadows__button-desktop;
        &:hover {
            box-shadow: 0.1vw 0.3vw 0.4vw 0.1vw #aaaaaa;
        }
    }
}

.grid__steps-rest {
    @include desktop-only {
        display: grid;
        grid-template-columns: 35vw 1fr;
        grid-column-gap: 2.3vw;
    }
}

.steps {
    @include desktop-only {
        padding: 3vw 3vw 3vw 2vw;
        &__title {
            font-size: 2.2vw;
            padding: 0 0 4vw 0;
            text-align: center;
        }
        &__container {
            height: 5.5vw;
            margin: 0 0 4vw 1vw;
            border-radius: 2vw;
            box-shadow: $shadows__main-desktop;
        }
        &__number-container {
            width: 2.2vw;
            height: 2.2vw;
            left: -1vw;
            top: 1.6vw;
            & p {
                font-size: 1.3vw;
            }
        }
        & ul {
            padding-left: 0;
        }
        &__icon {
            font-size: 1.5vw;
            &-1 {
                padding: 0 1.7vw 0 3.6vw;
            }
            &-2 {
                padding: 0 1.6vw 0 3.4vw;
            }
            &-3 {
                padding: 0 1.2vw 0 3.2vw;
            }
        }
        &__line {
            font-size: 1.5vw;
        }
    }
}

.restaurants {
    @include desktop-only {
        padding: 3vw 0 3vw 2vw;
        margin: 0;
        background-color: #FFF;
        &__title {
            font-size: 2.2vw;
            padding: 0 2vw 4vw 0;
            text-align: center;
        }
    }
}

.restcard {
    @include desktop-only {
        display: inline-block;
        width: 25vw;
        height: 18vw;
        margin: 0 2vw 2vw 2.2vw;
        border-radius: 1.6vw;
        box-shadow: $shadows__main-desktop;
        &__pic {
            height: 13vw;
        }
        &__new-icon {
            width: 5vw;
            height: 2vw;
            top: 1.5vw;
            right: 1vw;
            border-radius: 0.3vw;
            & p {
                font-size: 1vw;
            }
        }
        &__overlay {
            padding: 0.2vw 1.4vw;
            & h3 {
                font-size: 1.5vw;
            }
            & p {
                font-size: 1.2vw;
                padding-top: 0.3vw;
            }
            &-icon {
                width: 0.8vw;
                height: 0.8vw;
                margin: 0.5vw 1.2vw 0 0;
                &::before,
                &::after {
                    height: 0.8vw;
                    width: 0.8vw;
                }
                &::before {
                    left: -0.4vw;
                }
                &::after {
                    top: -0.4vw;
                }
            }
        }
    }
}

.footer {
    @include desktop-only {
        position: relative;
        text-align: center;
        padding: 1vw 0;
        &__title {
            font-size: 1.7vw;
            padding-bottom: 0.8vw;
        }
        &__list-icon {
            font-size: 1.2vw;
            &-1 {
                position: absolute;
                top: 4.2vw;
                left: 41.5vw;
            }
            &-2 {
                position: absolute;
                top: 6.3vw;
                left: 42.3vw;
            }
        }
        & p {
            font-size: 1.2vw;
            line-height: 1.2vw;
            padding: 0 0 1vw 0;
        }
    }
}

// DESKTOP PAGES

.header {
    @include desktop-only {
        &__home-button {
            font-size: 2vw;
            top: 2.85vw;
            left: 4vw;
        }
    }
}

.overview {
    @include desktop-only {
        top: -32vw;
        height: 38vw;
        &__large-pic {
            height: 39vw;
        }
    }
}

.menu {
    @include desktop-only {
        display: grid;
        grid-column-gap: 11vw;
        border-radius: 5vw 5vw 0 0;
        margin-top: 32vw;
        padding: 3vw 3vw 3vw 5vw;
        &__main-title {
            width: 40vw;
            font-size: 2.8vw;
            grid-column: 1;
        }
        &__title-icon {
            grid-column: 2;
            grid-row: 1;
        }
        &__main-courses {
            grid-column: 2;
            grid-row: 2;
        }
        &__desserts {
            grid-column: 1;
            grid-row: 3;
        }
        &__section-title {
            font-size: 1.6vw;
            padding: 3vw 0 2vw 1vw;
            & div {
                height: 2.5vw;
                border-bottom: 0.3vw solid $color-tertiary;
            }
        }
        &__meal {
            margin-bottom: 1.6vw;
            padding: 1vw 2.4vw 0.7vw 1.6vw;
            width: 35vw;
            height: 6.2vw;
            border-radius: 1.5vw;
            box-shadow: 0.1vw 0.4vw 0.5vw #e2e2e2;
            & h4 {
                font-size: 1.5vw;
            }
            & p {
                padding-top: 0.8vw;
                font-size: 1.25vw;
            }
            &-price {
                padding-right: 0;
            }
            &:hover > h4,
            &:hover > p {
                width: 21vw;
            }
            &:hover > .menu__meal-price {
                padding-right: 6vw;
            }
        }
        &__checkbox {
            width: 7vw;
            border-radius: 0 1.5vw 1.5vw 0;
            &-icon {
                font-size: 1.7vw;
                padding: 0.75vw 0.7vw 0.7vw 0.7vw;
            }
        }
        &__button {
            margin: 0;
            align-self: center;
            justify-self: center;
            grid-row: 3;
            grid-column: 2;
            margin-right: 3vw;
        }
    }
}