* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.header__logo {
  margin: 5.5vw 0 0.7vw 0;
  width: 43vw;
  padding-bottom: 3vw;
}

.header h1 {
  text-align: center;
}

.header__home-button {
  position: absolute;
  top: 6.5vw;
  left: 6vw;
  font-size: 5vw;
  color: #333333;
}

.location {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding: 4vw 0 4vw 28.8vw;
  background-color: #e8e8e8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0.5vw 1vw #c9c9c9;
          box-shadow: inset 0 0.5vw 1vw #c9c9c9;
}

.location p {
  font-size: 4.2vw;
  font-weight: bold;
  margin-left: 4vw;
  color: #3b3b3b;
}

.location__icon {
  font-size: 4.2vw;
  color: #3b3b3b;
}

.explore {
  text-align: center;
  padding-top: 7vw;
  background: whitesmoke;
}

.explore__title {
  padding: 3vw 15vw 0 15vw;
  font-size: 6vw;
}

.explore__line {
  padding: 3.5vw 8vw 7.5vw 8vw;
  font-size: 4.7vw;
  color: #737373;
}

.main-button {
  width: 59vw;
  height: 14vw;
  margin-bottom: 15vw;
  border: none;
  border-radius: 7vw;
  font-size: 4vw;
  font-weight: bold;
  -webkit-box-shadow: 0.2vw 0.8vw 1.9vw 0.1vw #bbbbbb;
          box-shadow: 0.2vw 0.8vw 1.9vw 0.1vw #bbbbbb;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.main-button a {
  text-decoration: none;
  color: white;
}

.main-button:hover {
  background: linear-gradient(175deg, #ff8ade, #9a62df);
  -webkit-box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
          box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
}

.steps {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 12vw 5vw;
}

.steps__title {
  font-size: 6.3vw;
  padding-bottom: 7vw;
  padding-left: 1vw;
}

.steps__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vw;
  width: 100%;
  margin-bottom: 5.9vw;
  border-radius: 7vw;
  background: #f7f7f7;
  -webkit-box-shadow: 0.2vw 1vw 1.5vw #e2e2e2;
          box-shadow: 0.2vw 1vw 1.5vw #e2e2e2;
  position: relative;
}

.steps__container-colored {
  background-color: #f3ecfb;
}

.steps__number-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6vw;
  width: 6vw;
  font-size: 3.5vw;
  border-radius: 10vw;
  background: #9356DC;
  color: #FFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -3vw;
}

.steps__icon {
  color: #787878;
  font-size: 5.4vw;
  padding: 0 0 0 8vw;
}

.steps__icon-1 {
  padding-right: 7.1vw;
}

.steps__icon-2 {
  padding-right: 6vw;
}

.steps__icon-3 {
  padding-right: 4vw;
  color: #9356DC;
}

.steps__line {
  display: inline-block;
  font-size: 4.1vw;
  font-weight: bold;
}

.steps a {
  text-decoration: none;
  color: #000;
}

.steps ul {
  list-style: none;
  padding-left: 4vw;
}

.restaurants {
  padding: 13vw 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 14vw 72vw 72vw 72vw 71vw;
      grid-template-rows: 14vw 72vw 72vw 72vw 71vw;
  background: whitesmoke;
}

.restaurants__title {
  font-size: 6.2vw;
}

.restcard {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 66.5vw;
  -webkit-box-shadow: 0 0.5vw 1.5vw 0.1vw #e9e8e8;
          box-shadow: 0 0.5vw 1.5vw 0.1vw #e9e8e8;
  border-radius: 4.3vw;
  background-color: white;
  position: relative;
}

.restcard a {
  text-decoration: none;
}

.restcard__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 46vw;
}

.restcard__new-icon {
  height: 7.5vw;
  width: 21.4vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.6vw;
  background-color: #99E2D0;
  color: #2a947a;
  font-weight: bold;
  font-size: 3.65vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 4vw;
  right: 3vw;
}

.restcard__overlay {
  color: black;
  padding: 1.5vw 0 0 3vw;
}

.restcard__overlay h3 {
  font-size: 4.55vw;
  display: inline-block;
}

.restcard__overlay p {
  font-size: 4.4vw;
  padding-top: 1.2vw;
}

.restcard__overlay-icon {
  position: relative;
  float: right;
  margin: 1vw 6vw 0 0;
  background-color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 3vw;
  height: 3vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.restcard__overlay-icon::before, .restcard__overlay-icon::after {
  position: absolute;
  content: "";
  width: 3vw;
  height: 3vw;
  background-color: #f11515;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.restcard__overlay-icon::before {
  left: -1.5vw;
}

.restcard__overlay-icon::after {
  top: -1.5vw;
}

.footer {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 6vw 5vw;
  background: #3b3b3b;
  color: #FFF;
}

.footer__title {
  font-family: Shrikhand;
  font-weight: normal;
  font-size: 4.7vw;
  color: #FFF;
  padding-bottom: 5.3vw;
}

.footer__list-icon {
  float: left;
  font-size: 3.5vw;
}

.footer ul {
  list-style: none;
}

.footer a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.footer__icon-line {
  padding-left: 7vw;
}

.footer p {
  padding-bottom: 3vw;
  font-size: 4.2vw;
  line-height: 4.2vw;
}

.showcase {
  z-index: 1;
  position: relative;
}

.overview {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 68vw;
  position: absolute;
  top: -59vw;
  z-index: 0;
}

.overview__large-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 72vw;
}

.menu {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin-top: 56.5vw;
  border-radius: 10vw 10vw 0 0;
  background: whitesmoke;
  padding: 8vw 4vw;
  position: relative;
  /*&__title-icon {
        position: absolute;
        right: 8vw;
        top: 9.5vw;
    }*/
}

.menu__main-title {
  font-family: Shrikhand;
  font-weight: normal;
  font-size: 7.6vw;
  width: 73vw;
}

.menu__section-title {
  padding: 5vw 0 5.5vw 1vw;
  font-weight: normal;
  font-size: 4.2vw;
}

.menu__section-title div {
  display: inline-block;
  height: 6.4vw;
  border-bottom: 0.8vw solid #99E2D0;
}

.menu__meal {
  margin-bottom: 3.6vw;
  padding: 3.5vw 2.4vw 3vw 2.4vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 18.3vw;
  border-radius: 4vw;
  background: #FFF;
  position: relative;
  -webkit-box-shadow: 0.2vw 0.2vw 1.6vw #ececec;
          box-shadow: 0.2vw 0.2vw 1.6vw #ececec;
}

.menu__meal h4 {
  font-size: 4.5vw;
}

.menu__meal p {
  font-size: 3.8vw;
  padding-top: 1.2vw;
}

.menu__meal-price {
  position: absolute;
  right: 4vw;
  bottom: 3.3vw;
}

.menu__button {
  width: 50vw;
  height: 12.9vw;
  margin: 8.7vw 20% 7.5vw 20%;
  font-size: 4.1vw;
}

.menu__button:hover {
  background: linear-gradient(175deg, #ff8ade, #9a62df);
  -webkit-box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
          box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
  -webkit-transition: 300ms;
  transition: 300ms;
}
/*# sourceMappingURL=main.css.map */