/*-------------------------------------
----MOBILE + ANIMATIONS + KEYFRAMES----
-------------------------------------*/

/* MOTS CLES POUR NAVIGATION VIA CTRL+F = 
    - "KEYFRAMES"               - "PAGES"
    - "HOMEPAGE"                - "MENU"
    - "HEADER"                  - "ANIMATION SPINNER"
    - "LOCATION"                - "ANIMATION COEUR"
    - "STEPS"                   - "ANIMATION CHECKBOX"
    - "EXPLORE"                 - "ANIMATION MENU"
    - "RESTAURANTS"
    - "FOOTER" */

@import url("partials/variables_&_mixins.scss");
@import url("partials/inter.scss");
@import url("partials/desktop.scss");

// KEYFRAMES

@keyframes spinner__rotation-1 {
    from {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
      opacity: 1;
    }
    to {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    }
}
  
@keyframes spinner__rotation-2 {
    from {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
        opacity: 1;
    }
    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    }
}

@keyframes spinner__rotation-3 {
    from {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
        opacity: 1;
    }
    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    }
}

@keyframes body__spawn {
    from {
        opacity: 0.05;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu__spawn {
    from {
        transform: translateY(2vw);
        opacity: 0;
    }
    60% {
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-title__spawn {
    from {
        transform: translateX(-5vw);
        opacity: 0;
    }
   40% {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes heart__outline-animation {
    from {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1700;
    }
    60% {
        stroke-dashoffset: 3400;
        fill: transparent;
        transform: scale(1);
    }
    80% {
        fill: url(#heart__gradient);
        transform: scale(1.2);
    }
    90% {
        transform: scale(1);
    }
    to {
        stroke-dashoffset: 3400;
        stroke: none;
        fill: url(#heart__gradient);
    }
}

@keyframes heart__background-animation {
    70% {
        fill: transparent;
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        fill: url(#heart__gradient);
    }
}

// GENERAL

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text, sans-serif;
    position: relative; // afin de positionner le spinner en absolute 
}

.header__home, 
.location, 
.explore, 
.grid__steps-rest, 
.footer__home {
    animation: body__spawn 400ms 1700ms linear forwards;
    opacity: 0.05;
}

//HOMEPAGE

.spinner__container { // ANIMATION SPINNER
    position: absolute; // principe de 3 div (arc), visibles par leur border-bottom,
    top: 8%; // tournant sur 3 plans de l'espace (cf keyframes "spinner_rotation"), 
    left: 39%; // avec leur délais propres
} 

.spinner {
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    transform-style: preserve-3d;
    perspective: 50vw;
    &__arc {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-bottom: 1vw solid #FF79DA;
        opacity:0;

        @for $i from 1 through 3 { // test de @for pour attribution des délais
            &:nth-child(#{$i}) {
                animation: spinner__rotation-#{$i} 1000ms linear 2;
            }
        }
        &:nth-child(1) {
            animation-delay: -0.8s;
        }
        &:nth-child(2) {
            animation-delay: -0.4s;
        }
        &:nth-child(3) {
            animation-delay: 0s;
        }
    }
}

// HEADER

.header {
    @include full-width;
    position: relative;
    &__logo {
        margin: 5.5vw 0 0.7vw 0;
        width: 43vw;
        padding-bottom: 3vw;
    }
    & h1 {
        text-align: center;
    }
    &__home-button {
        position: absolute;
        top: 6.5vw;
        left: 6vw;
        font-size: 5vw;
        color: lighten(#000, 20%);
    }
}

.location {
    @include full-width;
    display: inline-flex;
    width: 100%;
    padding: 4vw 0 4vw 28.8vw;
    background-color: darken(#FFF, 9%);
    align-items: center;
    box-shadow: inset 0 0.5vw 1vw #c9c9c9;
    & p {
        font-size: 4.2vw;
        font-weight: bold;
        margin-left: 4vw;
        color: lighten(#000, 23%);
    }
    &__icon {
        font-size: 4.2vw;
        color: lighten(#000, 23%);
    }
}

//EXPLORE

.explore {
    text-align: center;
    padding-top: 7vw;
    background: darken(#FFF, 4%);
    &__title {
        padding: 3vw 15vw 0 15vw;
        font-size: 6vw;
    }
    &__line {
        padding: 3.5vw 8vw 7.5vw 8vw;
        font-size: 4.7vw;
        color: lighten(#000, 45%);
    }
}

.main-button {
    width: 59vw;
    height: 14vw;
    margin-bottom: 15vw;
    overflow: hidden;
    border: none;
    border-radius: 7vw;
    font-size: 4vw;
    font-family: $font-text;
    cursor: pointer;
    color: white;
    box-shadow: $shadows__button-mobile;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    transition: all 300ms ease-in-out;
    &:hover {
        background: linear-gradient(175deg, hsl(317, 100, 77), hsl(267,66,63) );
        box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
    }
    &:not(:hover) {
        transition: all 700ms;
    }
}

// STEPS

.steps { 
    @include full-width;
    padding: 12vw 5vw;
    &__title {
        font-size: 6.3vw;
        padding-bottom: 7vw;
    }
    &__container {
        display: inline-flex;
        align-items: center;
        height: 20vw;
        width: 100%;
        margin-bottom: 5.9vw;
        border-radius: 7vw;
        background: darken(#FFF, 3%);
        box-shadow: $shadows__main-mobile;
        position: relative;
        &-colored {
            background-color: lighten($color-primary, 35.5%);
        }
    }
    &__number-container {
        display: inline-flex;
        height: 6vw;
        width: 6vw;
        font-size: 3.5vw;
        border-radius: 10vw;
        background: $color-primary;
        color: #FFF;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -3vw;
    }
    &__icon {
        @include steps-icon-properties;
        &-1 {
            padding-right: 7.1vw;
        } 
        &-2 {
            padding-right: 6vw;
        }
        &-3 {
            padding-right: 4vw;
            color: $color-primary;
        }
    }
    &__line {
        display: inline-block;
        font-size: 4.1vw;
        font-weight: bold;
    }
    & a {
        text-decoration: none;
        color: #000;
    }
    & ul {
        list-style: none;
        padding-left: 2.5vw;  
    }
}

// RESTAURANTS

.restaurants {
    padding : 13vw 5vw;
    background: darken(#FFF, 4%);
    &__title {
        font-size: 6.2vw;
        padding: 1vw 0 6vw 0;
    }
}

.restcard {
    @include full-width;
    height: 66.5vw;
    box-shadow: $shadows__main-mobile;
    border-radius: 4.3vw;
    background-color: white;
    position: relative;
    margin-bottom: 5vw;
    & a {
        text-decoration: none;
    }
    &__pic {
        object-fit: cover;
        width: 100%;
        height: 46vw;        
    }
    &__new-icon {
        height: 7.5vw;
        width: 21.4vw;
        display: inline-flex;
        border-radius: 0.6vw;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 37%);
        font-weight: bold;
        font-size: 3.65vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 4vw;
        right: 3vw; 
    }
    &__overlay {
        color: black;
        padding: 3.4vw 0 0 3vw;
        & h3 {
            font-size: 4.55vw;
            display: inline-block;
        }
        & p {
            font-size: 4.4vw;
            padding-top: 1.2vw;
        }  
        &-icon { // ANIMATION COEUR
            position: relative;
            width: 6.5vw;
            float: right;
            padding: 2vw 7vw 0 0;
            fill: transparent;
            stroke: black;
            stroke-width: 4vw;
            cursor: pointer;
            & svg {
                width: 6.5vw;
                overflow: visible;
            }
            & path {
                stroke-dashoffset: 0;
                stroke-dasharray: 1700;
                transform-origin: center;
            }
            & .heart__background { // principe de deux svg se supperposant,
                position: absolute; // chacun dispose d'une animation
                left: 0;
                right: 0;
                z-index: -1;
                stroke: none;
            }
            & .heart__outline:hover path {
                animation: heart__outline-animation 1000ms cubic-bezier(.61,.01,.63,.94) forwards;
            }
            & .heart__outline:hover ~ .heart__background path {
                animation: heart__background-animation 1000ms ease-in-out forwards;
            }
        }    
    }
}

//FOOTER

.footer {
    @include full-width;
    padding: 6vw 5vw;
    background: darken(#FFF, 77%);
    color: #FFF;
    &__title {
        font-family: $font-title;
        font-weight: normal;
        font-size: 4.7vw;
        color: #FFF;
        padding-bottom: 5.3vw;
    }
    &__list-icon {
        float: left;
        font-size: 3.5vw;
    }
    & ul {
        list-style: none;
    }
    & a {
        display: block;
        text-decoration: none;
        color: #FFF;
    }
    &__icon-line {
        padding-left: 7vw;
    }
    & p {
        padding-bottom: 3vw;
        font-size: 4.2vw;
        line-height: 4.2vw;
    }
}

// PAGES_1,2,3,4

.showcase { // section englobant overview (photo) + menu + button
    z-index: 1;
    position: relative;
}

.overview {
    @include full-width;
    height: 68vw;
    position: absolute;
    top: -59vw;
    z-index: 0;
    &__large-pic {
        object-fit: cover;
        width: 100%;
        height: 72vw;
    }
}

// MENU

.menu { // ANIMATION MENU
    &__main-title {
        animation: menu-title__spawn 950ms ease-out both;
    }
    &__starters, // entrées
    &__main-courses, // plats
    &__desserts {
        & h3,
        & div:nth-child(2),
        & div:nth-child(3):not(.menu__meal-price),
        & div:nth-child(4):not(.menu__checkbox),
        & div:nth-child(5) {
            animation: menu__spawn 400ms cubic-bezier(.26,.18,.24,.81) both;
        } 
    }
    &__starters { // attribution des délais pour chaque élément du menu
        & h3 {
            animation-delay: 100ms;
        }
        & div:nth-child(2) {
            animation-delay: 200ms;
        }
        & div:nth-child(3):not(.menu__meal-price) {
            animation-delay: 300ms;
        }
        & div:nth-child(4):not(.menu__checkbox) {
            animation-delay: 400ms;
        }
        & div:nth-child(5) {
            animation-delay: 500ms;
        }
    }
    &__main-courses {
        & h3 {
            animation-delay: 200ms;
        }
        & div:nth-child(2) {
            animation-delay: 300ms;
        }
        & div:nth-child(3):not(.menu__meal-price) {
            animation-delay: 400ms;
        }
        & div:nth-child(4):not(.menu__checkbox) {
            animation-delay: 500ms;
        }
    }
    &__desserts {
        & h3 {
            animation-delay: 300ms;
        }
        & div:nth-child(2) {
            animation-delay: 400ms;
        }
        & div:nth-child(3):not(.menu__meal-price) {
            animation-delay: 500ms;
        }
        & div:nth-child(4):not(.menu__checkbox) {
            animation-delay: 600ms;
        }
    }
    &__button {
        animation: menu__spawn 600ms 500ms cubic-bezier(.26,.18,.24,.81) both;
    }
}


.menu {
    @include full-width;
    margin-top: 56.5vw;
    border-radius: 10vw 10vw 0 0;
    background: darken(#FFF, 4%);
    padding: 8vw 4vw;
    position: relative;
    &__main-title {
        font-family: $font-title;
        font-weight: normal;
        font-size: 7.6vw;
        width: 73vw;
        display: inline-block;
    }
    &__title-icon {
        padding: 2.8vw 5vw 0 0;
    }
    &__section-title {
        padding: 5vw 0 5.5vw 1vw;
        font-weight: normal;
        font-size: 4.2vw;
        & span {
            display: inline-block;
            height: 6.4vw;
            border-bottom: 0.8vw solid $color-tertiary;
        }
    }
    &__meal { // conteneur de chaque plat
        margin-bottom: 3.6vw;
        padding: 3.5vw 2.4vw 3vw 2.4vw;
        box-sizing: border-box;
        width: 100%;
        height: 18.3vw;
        border-radius: 4vw;
        background: #FFF;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: $shadows__main-mobile;
        & h4 {
            font-size: 4.5vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 69vw;
        }
        & p {
            font-size: 3.8vw;
            padding-top: 1.2vw;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 72vw;
        }
        &-price {
            float: right;
            padding-right: 1vw;
            width: 7vw;
        }
        &:hover > .menu__meal-price { // ANIMATION CHECKBOX
            padding-right: 15vw;
            transition: 500ms ease-in-out;
        }
        &:hover > h4,
        &:hover > p {
            width: 57vw;
            transition: all 500ms ease-in-out;
        }
        &:hover > .menu__checkbox {
            width: 15vw;
            transition: all 600ms cubic-bezier(.57,.12,.37,.99);
            & > .menu__checkbox-icon {
                transform: rotate(360deg);
                transition: 500ms 170ms ease-in-out;
                opacity: 1;            
            }
        }
        &:not(:hover) > .menu__checkbox,
        &:not(:hover) > .menu__checkbox-icon,
        &:not(:hover) > .menu__meal-price,
        &:not(:hover) > p,
        &:not(:hover) > h4 {
            transition: all 600ms;
        }
    }
    &__checkbox {
        width: 0;
        background: $color-tertiary;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 4vw 4vw 0;
        &-icon {
            padding: 1.1vw 1vw 1vw 1vw;
            font-size: 4vw;
            border-radius: 6vw;
            color: $color-tertiary;
            background: #fff;
            opacity: 0;
        }
    }
    &__button {
        width: 50vw;
        height: 12.9vw;
        margin: 8.7vw 20% 7.5vw 20%;
        font-size: 4.1vw;
        &:hover {
            background: linear-gradient(175deg, hsl(317, 100, 77), hsl(267,66,63) );
            box-shadow: 0.3vw 0.9vw 1.9vw 0.1vw #8d8d8d;
            transition: 300ms;
        }
    }
}