// HOMEPAGE

.spinner__container {
    @include desktop-only {
        top: 20%;
        left: 45%;
    }
}

.spinner {
    @include desktop-only{
        width: 10vw;
        height: 10vw;
        perspective: 50vw;
        &__arc {
            border-bottom: 0.4vw solid #FF79DA;
        }
    }
}

.header {
    @include desktop-only {
        &__logo {
            width: 15vw;
            margin: 2.5vw 0 0.5vw 0;
            padding-bottom: 0;
        }
    }
}

.location {
    @include desktop-only {
        padding: 1.5vw 0 1.5vw 43vw;
        & p {
            font-size: 1.6vw;
            margin-left: 1vw;
        }
        &__icon {
            font-size: 1.6vw;
        }
    }
}

.explore {
    @include desktop-only {
        padding-top: 3vw;
        &__title {
            padding-top: 0;
            font-size: 2.5vw;
        }
        &__line {
            font-size: 2vw;
            padding: 2vw 0;
        }
    }
}

.main-button {
    @include desktop-only {
        width: 25vw;
        height: 5.5vw;
        margin: 3vw 0 5vw 0;
        font-size: 1.6vw;
        box-shadow: $shadows__button-desktop;
        &:hover {
            box-shadow: 0.1vw 0.3vw 0.4vw 0.1vw #aaaaaa;
        }
    }
}

.grid__steps-rest {
    @include desktop-only {
        display: grid;
        grid-template-columns: 35vw 1fr;
        grid-column-gap: 2.3vw;
    }
}

.steps {
    @include desktop-only {
        padding: 3vw 3vw 3vw 2vw;
        &__title {
            font-size: 2.2vw;
            padding: 0 0 4vw 0;
            text-align: center;
        }
        &__container {
            height: 5.5vw;
            margin: 0 0 4vw 1vw;
            border-radius: 2vw;
            box-shadow: $shadows__main-desktop;
        }
        &__number-container {
            width: 2.2vw;
            height: 2.2vw;
            left: -1vw;
            top: 1.6vw;
            & p {
                font-size: 1.3vw;
            }
        }
        & ul {
            padding-left: 0;
        }
        &__icon {
            font-size: 1.5vw;
            &-1 {
                padding: 0 1.7vw 0 3.6vw;
            }
            &-2 {
                padding: 0 1.6vw 0 3.4vw;
            }
            &-3 {
                padding: 0 1.2vw 0 3.2vw;
            }
        }
        &__line {
            font-size: 1.5vw;
        }
    }
}

.restaurants {
    @include desktop-only {
        padding: 3vw 0 3vw 2vw;
        margin: 0;
        background-color: #FFF;
        &__title {
            font-size: 2.2vw;
            padding: 0 2vw 4vw 0;
            text-align: center;
        }
    }
}

.restcard {
    @include desktop-only {
        display: inline-block;
        width: 25vw;
        height: 18vw;
        margin: 0 2vw 2vw 2.2vw;
        border-radius: 1.6vw;
        box-shadow: $shadows__main-desktop;
        &__pic {
            height: 13vw;
        }
        &__new-icon {
            width: 5vw;
            height: 2vw;
            top: 1.5vw;
            right: 1vw;
            border-radius: 0.3vw;
            & p {
                font-size: 1vw;
            }
        }
        &__overlay {
            padding: 0.2vw 1.4vw;
            & h3 {
                font-size: 1.5vw;
            }
            & p {
                font-size: 1.2vw;
                padding-top: 0.3vw;
            }
            &-icon {
                width: 1.9vw;
                stroke-width: 1.5vw;
                padding: 0.5vw 0.6vw 0 0;
                & svg {
                    width: 1.9vw;
                }
            }
        }
    }
}

.footer {
    @include desktop-only {
        position: relative;
        text-align: center;
        padding: 1vw 0;
        &__title {
            font-size: 1.7vw;
            padding-bottom: 0.8vw;
        }
        &__list-icon {
            font-size: 1.2vw;
            &-1 {
                position: absolute;
                top: 4.2vw;
                left: 41.5vw;
            }
            &-2 {
                position: absolute;
                top: 6.3vw;
                left: 42.3vw;
            }
        }
        & p {
            font-size: 1.2vw;
            line-height: 1.2vw;
            padding: 0 0 1vw 0;
        }
    }
}

// PAGES MENU

.header {
    @include desktop-only {
        &__home-button {
            font-size: 2vw;
            top: 2.85vw;
            left: 4vw;
        }
    }
}

.overview {
    @include desktop-only {
        top: -32vw;
        height: 38vw;
        &__large-pic {
            height: 39vw;
        }
    }
}

.menu {
    @include desktop-only {
        display: grid;
        grid-column-gap: 11vw;
        border-radius: 5vw 5vw 0 0;
        margin-top: 32vw;
        padding: 3vw 3vw 3vw 5vw;
        &__main-title {
            width: 40vw;
            font-size: 2.8vw;
            grid-column: 1;
            grid-row: 1;
        }
        &__title-icon {
            grid-column: 1;
            grid-row: 1;
            width: 2.1vw;
            padding: 1.2vw 0 0 32.7vw;
            & svg {
                width: 2.1vw;
            }
        }
        &__main-courses {
            grid-column: 2;
            grid-row: 2;
        }
        &__desserts {
            grid-column: 1;
            grid-row: 3;
        }
        &__section-title {
            font-size: 1.6vw;
            padding: 3vw 0 2vw 1vw;
            & span {
                height: 2.5vw;
                border-bottom: 0.3vw solid $color-tertiary;
            }
        }
        &__meal {
            margin-bottom: 1.6vw;
            padding: 1vw 1vw 0.7vw 1.6vw;
            width: 35vw;
            height: 6.2vw;
            border-radius: 1.5vw;
            box-shadow: 0.1vw 0.4vw 0.5vw #e2e2e2;
            & h4 {
                font-size: 1.5vw;
                width: 24vw;
            }
            & p {
                padding-top: 0.8vw;
                font-size: 1.25vw;
                width: 24vw;
            }
            &-price {
                padding-right: 0;
                width: 3vw;
            }
            &:hover > h4,
            &:hover > p {
                width: 21vw;
            }
            &:hover > .menu__meal-price {
                padding-right: 5vw;
            }
            &:hover > .menu__checkbox {
                width: 6vw;
            }
        }
        &__checkbox {
            width: 0;
            border-radius: 0 1.5vw 1.5vw 0;
            &-icon {
                font-size: 1.7vw;
                padding: 0.75vw 0.7vw 0.7vw 0.7vw;
            }
        }
        &__button {
            margin: 0;
            align-self: center;
            justify-self: center;
            grid-row: 3;
            grid-column: 2;
            margin-right: 3vw;
        }
    }
}